<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <body>
        <ul id='menu'>
            <li>
                <a href="/">Accueil</a>
                <a href="/users/new">Ajouter un utilisateur</a>
                <a href="/chat">Tchat</a>
                <a href="/disconnect">Déconnecter</a>
            </li>
        </ul>

<script src="http://10.66.126.17:3001/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
	var socket = io.connect('http://10.66.126.17:3001');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		if(document.URL.indexOf('?') < 0)
			username = getUsernameFromCookie();
			// username = prompt("Nickname ?");
		else
			username = getParamValue('username', document.URL);
		socket.emit('adduser', username);
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		var currentDateTime = new Date();
		var minutes = currentDateTime.getMinutes();
		if (minutes<10) {minutes = "0" + minutes}
		$('#conversation').append('<b> ['+ currentDateTime.getHours() + ':' + minutes + '] ' + username + ':</b> ' + data + '<br>');
	});

	// listener, whenever the server emits 'updateusers', this updates the username list
	socket.on('updateusers', function(data) {
		$('#users').empty();
		$.each(data, function(key, value) {
			$('#users').append('<div>' + key + '</div>');
		});
	});

	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function (username) {
			var message = $('#data').val();
			message = message.replace(/(<([^>]+)>)/ig,"");
			$('#data').val('');

			// tell server to execute 'sendchat' and send along one parameter
			if(message.trim()) {
                var msg = {
                    message: message,
                    date: new Date()
                }
				socket.emit('sendchat', msg);
			}
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
				$('#data').focus();
			}
		});
	});

	function getUsernameFromCookie() {
		var cookie = document.cookie;
		cookie = cookie.substring(cookie.indexOf('username'), cookie.length);
		cookie = cookie.replace(/%22%3A%22/gi, '=');
		cookie = cookie.replace(/%22%2C%22/gi, ';');
		cookie = cookie.replace(/%40/gi, '@');
		cookie = cookie.replace(/%20/gi, ' ');
		cookie = cookie.replace(/%22%3A/gi, '=');
		cookie = cookie.replace(/%2C%22/gi, ';');
		cookie = cookie.replace(/%5B%22/gi, '[');
		cookie = cookie.replace(/%22%5D/gi, ']');
		return cookie.substring(cookie.indexOf('username=') + 9, cookie.indexOf(';'));
	}

	function getParamValue(param,url){
		var u = url == undefined ? document.location.href : url;
		var reg = new RegExp('(\\?|&|^)'+param+'=(.*?)(&|$)');
		matches = u.match(reg);
		return matches[2] != undefined ? decodeURIComponent(matches[2]).replace(/\+/g,' ') : '';
	}

</script>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>USERS</b>
	<div id="users"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
</div>