extends layout
block content
    h1= title
    p Bienvenue
    #wrapper
        #userInfo
            h2 User Info
            p
                strong Pseudo :&nbsp;
                | <br><span id='userInfoUserName'>-</span><br>
                br
                strong Email :&nbsp;
                | <br><span id='userInfoEmail'>-</span><br>
                br
                strong Name :&nbsp;
                | <br><span id='userInfoName'>-</span><br>
                br
                strong Age :&nbsp;
                | <br><span id='userInfoAge'>-</span><br>
                br
                strong Location :&nbsp;
                | <br><span id='userInfoLocation'>-</span><br>
                br
                strong Gender :&nbsp;
                | <br><span id='userInfoGender'>-</span><br>
        h2 User List
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                    th Edit
                    th Chat
                tbody