extends layout
block content
    h1= title
    p Bienvenue
    #wrapper
        #userInfo
            h2 User Info
            p
                span#pictureUser
                span#actionUser
                    a(href='')#linkdeleteuser
                strong Pseudo :&nbsp;
                br
                span#userInfoUserName -
                br
                br
                strong Email :&nbsp;
                br
                span#userInfoEmail -
                br
                br
                strong Name :&nbsp;
                br
                span#userInfoName -
                br
                br
                strong Age :&nbsp;
                br
                span#userInfoAge -
                br
                br
                strong Location :&nbsp;
                br
                span#userInfoLocation -
                br
                br
                strong Gender :&nbsp;
                br
                span#userInfoGender -
            h2 Message
            p#messageUser

        h2 User List
        #userList
            #searchUser
                fieldset
                    input#inputUserName(type="text", placeholder="username", name="username")
                    input#inputUserEmail(type="text", placeholder="email", name="email")
                    button#btnSearch Rechercher
                br
            table
                thead
                    th UserName
                    th Email
                tbody