extends layout
block content
    h1= title
    div#msgSuccess.alert.alert-success
    div#msgDanger.alert.alert-danger
    #addUser
        fieldset
            input#inputUserName(type='text', placeholder='Username')
            input#inputUserEmail(type='text', placeholder='Email')
            br
            input#inputUserFullname(type='text', placeholder='Full Name')
            input#inputUserAge(type='text', placeholder='Age')
            br
            input#inputUserLocation(type='text', placeholder='Location')
            input#inputUserGender(type='text', placeholder='Gender')
            br
            input#inputUserPassword(type='password', placeholder='Password')
            br
            br
            button#btnAddUser Add User